<h3>Chat with <%= link_to @profile.name, profile_path(@profile) %></h3>

<span id="channel" style="display:none;" data-channel="<%= @channel %>"></span>

<%= react_component 'Messages',
    props: {
      currentProfile: current_user.profile,
      profile:        @profile
    }
%>
