<%# @profiles.each do |profile|%>
  <%# <div class="card" >
      <%# if profile.image != ""%>
        <%# <li class="list-group-item"> %>
          <%#= link_to profile do %>
            <%#= image_tag profile.image.url(:medium) %>
            <%# end %>
        <%# </li> %>
      <%# end %>

      <%#= link_to "#{profile.name}", profile %> <%#= profile.age %>
      <%# profile.activities.each do |activity| %>
          <%#= activity.activity %> <%#= activity.skill_level_for(profile.user) %>
      <%# end %></li>
    <%# </ul>
<%# end %>

<%= react_component 'Profile',
    props: { activities: current_user.activities.pluck(:activity) } %>