<br>
<div class="synergy-new">
    <%= image_tag "synergylogo.png", :size => "220x35" %>
</div>

<div class="page-title">
    <h6>Create Your Profile</h6>
</div>
 

<%= render 'form', profile: @profile %>



