// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slider-control-bottomcenter {
  display: none;
}

.profile {
  text-align: center;
}

.card {
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  border: 3px solid black;
}

li {
  list-style-type: none;
}
